.hero{
    width:  100%;
    height: 100vh;
    color: #fff;  
      background-image: url('../static/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}   
nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    letter-spacing: 1px;
    font-size: 35px;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    transition: .3s;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    color: var(--purple);
    cursor: pointer;
    transition: .5s;
}
.hero-content{
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: center;
}
.content{
    line-height: 5rem;
}

h1{
    font-size: 55px;

}
h3{
    font-size: 25px;
}
.purple{
    color: var(--purple);
  
}
.pink{
    color: var(--pink);
}
#main {
    transition: opacity 0.5s ease-in-out;
}
h4{
    font-size: 20px;
}
.about{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.about-content{
    width: 450px;
    
}
#content{
    max-width: 450px;
    min-width: 200px;
    height: 100px;
    margin-bottom: 20px;
}
.about-content > *{
    line-height: 1.5rem;
    margin-top: 25px;
}

.button{
    color: #fff;
    background-color: var(--purple);
    padding: 15px 40px;
    border: 2px solid var(--purple);
    border-radius: 30px;
    cursor: pointer;
    margin: 20px 0;
    transition: .5s;

}
.button>a{
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: #fff;
}
.button:hover{
    background-color: transparent;
}
.image{
    max-width: 430px;
    min-width: 150px;
    border-radius: 15px;
}
.skills{
    width: 100%;
    min-height: 90vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
   

}
.subtitle{
    width: 170px;
    margin: 20px 0;
}
.skill-info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card h4{
    margin: 20px 0;
}
.card{
    width: 400px;
    height: auto;
    background-color: rgb(61, 61, 61);
    margin-top: 20px;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 15px;
    transition: .5s;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card:hover{
    background-color: transparent;

}
.skill-logo{
    margin-top: 10px;
    font-size: 80px;
    color: var(--pink);
    transition: .5s;
}
.skill-logo:hover{
    color: green;
}
.skill-content{
    width: 80%;
    min-height: 200px;
    margin: 0 auto;

}